<form class="input-group" action="/add" method="post">

    <input class="form-control" id="content" name="content" type="text" value="">

<table class="table">
    </thead>
    <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Add</button>
    </span>
</form>

<hr />

<table class="table">

    <thead>

        <tr>
            <td>Content</td>
            <td>Time</td>
            <td>Operation</td>
        </tr>
    </thead>

    <tbody>
        {% for t in todos %}
        <tr>
            <td>{{ t.content  }}</td>
            <td>{{ t.time  }}</td>
            <td>
                {% if t.status == 0 %}
                <a href="/done/{{ t.id  }}" class="btn btn-primary">Done</a>
                {% else %}
                <a href="/undone/{{ t.id  }}" class="btn btn-primary">Undone</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
