<form class="input-group" action="/add" method="post">

    <input class="form-control" id="content" name="content" type="text" value="">

<table class="table">
    <thead>
        <tr>
            <td>Content</td>
            <td>Time</td>
            <td>Status</td>
        </tr>
    </thead>
    <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Add</button>
    </span>
</form>

<hr />

    <tbody>
        {% for t in todos %}
        <tr>
            <td>{{ t.content  }}</td>
            <td>{{ t.time  }}</td>
            <td>{{ t.status  }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
