<form class="input-group" action="/add" method="post">
	{{ form.hidden_tag() }}
	{{ form.content(class="form-control") }}
	<span class="input-group-btn">
		<button class="btn btn-primary" type="submit">Add</button>
	</span>
</form>
{% for error in form.errors.content %}
	<div class="flash alert-danger"><span>{{ error }}</span></div>
{% endfor %}

<hr />

<table class="table">

    <thead>

        <tr>
            <td>Content</td>
            <td>Time</td>
            <td>Operation</td>
        </tr>
    </thead>

    <tbody>
        {% for t in todos %}
        <tr>
            <td>{{ t.content  }}</td>
            <td>{{ t.time  }}</td>
            <td>
                {% if t.status == 0 %}
                <a href="/done/{{ t.id  }}" class="btn btn-primary">Done</a>
                {% else %}
                <a href="/undone/{{ t.id  }}" class="btn btn-primary">Undone</a>
                {% endif %}
                <a href="/delete/{{ t.id  }}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
